<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          rel="stylesheet"/>

    <title th:utext="${title}"></title>
</head>

<body>

<div style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;"
     xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <a th:href="@{/}">Home |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/orders/form}">Order a car |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/users/userInfo}">User Info |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/users/userOrders}">My orders |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/orders}">All orders |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">All users |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/cars}">All cars |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/invoices}">Repair invoices |</a>

    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>

    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

</div>

<blockquote class="blockquote text-center">
    <h3 class="mb-0">Looking for a vehicle ? </h3>
    <h3 class="blockquote">You’re at the right place !</h3>
</blockquote>


<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to car rental, friend!</h1>
    </br>
    <p class="lead">Travel your way by choosing from our collection of brand-new cars.</p>
    <hr class="my-4">
    <p>Let's find a geat deal for your rental car.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://localhost:8080/orders/form" role="button">Order a car</a>
    </p>
</div>
</body>
</html>