<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login </title>
</head>
<body>
<a th:href="@{/}">Home</a>

<h1>Login page</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form method="post" th:action="@{/login}">
    <div><label> User Name : <input name="username" type="text"/> </label></div>
    <div><label> Password: <input name="password" type="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<br/>
<p>Not a member yet?</p>
<p class="lead">
    <a class="btn btn-primary btn-lg" href="http://localhost:8080/users/add">Sign up</a>
</p>
</body>
</html>