<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Car rental.Order form</title>
</head>
<body>

<div style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;"
     xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <a th:href="@{/}">Home |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/orders/form}">Order a car |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/users/userInfo}">User Info |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/users/userOrders}">My orders |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/orders}">All orders |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">All users |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/cars}">All cars |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/invoices}">Repair invoices |</a>

    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>

    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

</div>

<div class="text-center">
    <h1>Order</h1>
    </br>

    <form th:action="@{/orders/form}" th:method="POST">
        <div th:object="${order}">
            <label for="beginDate">From:</label>
            <input id="beginDate" required="required" th:field="*{dateAndTimeFrom}"
                   th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
                   type="datetime-local">

            <!-- ${#dates.format(date, #messages.msg('app.dateformat'))} -->
            <label for="endDate">To:</label>
            <input id="endDate" required="required" th:field="*{dateAndTimeTo}"
                   th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
                   type="datetime-local">

            <br/>
            <br/>

            <label for="carModel">Car model:</label>
            <select id="carModel" required="required" th:field="*{carModel}">
                <option value="">Choose car model</option>
                <option th:each="model : ${carModels}"
                        th:text="${model.getBrandName()} + ' ' + ${model.getModel()}"
                        th:value="${model.id}"></option>
            </select>

            <br/>
            <br/>

            <input class="btn btn-primary btn-lg" type="submit" value="Create order">

            <div style="color: red" th:if="${#fields.hasGlobalErrors()}">
                <p class="error" th:each="err : ${#fields.errors()}" th:text="${err}"></p>
            </div>

            <div style="color: red" th:if="${#fields.hasErrors()}">
                <pre><p class="error" th:each="err : ${#fields.errors()}" th:text="${err}"></p></pre>
            </div>
        </div>
    </form>
</div>
</body>
</html>
