<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Success registration</title>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"/>

<div class="p-3 mb-2 bg-light text-dark text-center">

    <h2>Your order has been registered!</h2>

    </br>

    <p>Car <span th:utext="${order.carModel.brandName}"/> <span th:utext="${order.carModel.model}"/> has been added to
        your
        orders.</p>
    <p>Check your order data and pay for the order or decline it following the link below.</p>
    <a th:href="@{/users/userOrders}">Go to my orders >></a>
</div>
</body>

</html>