<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>

<div style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;"
     xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <a th:href="@{/}">Home |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/orders/add}">Order a car |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/users/userInfo}">User Info |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/users/userOrders}">My orders |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/orders}">All orders |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">All users |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/cars}">All cars |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/invoices}">Repair invoices |</a>

    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>

    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

</div>

<div class="container">

    <h1>Registration form</h1>
    </br>
    <form th:action="@{/users/registration}" th:method="POST">

        <div th:object="${user}">

            <label for="username">Enter username: </label>
            <input id="username" th:field="*{username}" type="text"/>
            <div style="color: red"
                 th:errors="*{username}"
                 th:if="${#fields.hasErrors('username')}">
                Username error
            </div>

            <br/>

            <label for="password">Enter password: </label>
            <input id="password" th:field="*{password}" type="password"/>
            <div style="color: red"
                 th:errors="*{password}"
                 th:if="${#fields.hasErrors('password')}">
                Password error
            </div>

            <br/>

            <label for="email">Enter email: </label>
            <input id="email" th:field="*{email}" type="text">
            <div style="color: red"
                 th:errors="*{email}"
                 th:if="${#fields.hasErrors('email')}">
                Email error
            </div>
        </div>

        <div th:object="${userDetails}">

            <label for="firstName">Enter first name: </label>
            <input id="firstName" th:field="*{firstName}" type="text">
            <div style="color: red"
                 th:errors="*{firstName}"
                 th:if="${#fields.hasErrors('firstName')}">
                First name error
            </div>

            <br/>

            <label for="lastName">Enter last name: </label>
            <input id="lastName" th:field="*{lastName}" type="text">
            <div style="color: red"
                 th:errors="*{lastName}"
                 th:if="${#fields.hasErrors('lastName')}">
                Last name error
            </div>

            <br/>

            <label for="passportData">Enter passport data: </label>
            <input id="passportData" th:field="*{passportData}" type="text">
            <div style="color: red"
                 th:errors="*{passportData}"
                 th:if="${#fields.hasErrors('passportData')}">
                Passport data error
            </div>
        </div>

        <input class="btn btn-info btn-lg" type="submit" value="Sing Up!">
    </form>
</div>
</body>
</html>