<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Success registration</title>
</head>

<body>

<div style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;"
     xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <a th:href="@{/}">Home |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/orders/add}">Order a car |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/users/userInfo}">User Info |</a>

    <a sec:authorize="hasAuthority('CLIENT')" th:href="@{/users/userOrders}">My orders |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/orders}">All orders |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">All users |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/cars}">All cars |</a>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/invoices}">Repair invoices |</a>

    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>

    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

</div>

<h2>User info has been changed successfully!</h2>

<a th:href="@{/users/userInfo}"><< Back to User Info</a>

</body>

</html>